
.GainsLosses{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.dataInfo{
  border-style: solid;
  float: right;
  text-align: center;
}


.gainers{
  display:flex;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
} 

.topGainers{
  width:100%;
}

.toplosers{
  width:100%;
  margin-left: 5px;
}





