 .App {
display:flex;
}

.GainsLosses{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.dataInfo{
  border-style: solid;
  float: right;
  text-align: center;
}


.gainers{
  display:flex;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
} 

.topGainers{
  width:100%;
}
.toplosers{
  width:100%;
  margin-left: 5px;
}



