.search{
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #d6f6dd
}
.stockInput{
    margin: 10px;
}
.searching{
    height: 745px;
    overflow-y: auto;
}