.gainers{
    display:flex;
}
.gainerInfo{
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
}
#gainerSymbol{
    width: 60px
}
#gainerName{
    width: 200px 
}
#gainerChange{
    width: 100px;
    color:#30a878;
    
}
#gainerPrice{
    width:100px;
}
#gainerPercentage{
    width:100px;
    color:#30a878;
}

.topGainers{
    height: 300px;
    width:100%;
    overflow-y:auto;
    background-color: rgb(235, 234, 234);
    
}

.topLosers{
    height: 300px;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:rgb(235, 234, 234);
}

#topGainHeader{
    margin: 10px;
    text-align: center;
}
#topLossHeader{
    margin: 10px;
    text-align: center;
}
